:root{
    --red-color: #dd1c1a;
    --black-color: #050609;
    --btn-color: #7fdeff;
    --text-color: #f0eff4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

button{
    all: unset;
}

body {
    background-color: var(--black-color);
    color: var(--text-color);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    border: 1px solid skyblue;
    border-radius: 6px;
    padding: 10px 4px;
}

.signUpBtn{
    background-color: var(--btn-color);
    color: var(--black-color);
    font-weight: 500;
    font-size: 18px;
    padding: .25em .5em;
    border-radius: 4px;
    cursor: pointer;
}

.title {
    text-align: center;
}

.email input,
.password input {
    border: 1px solid #edede8;
    padding: .6em 0.8em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}